<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nv nav-pills">
                            <li   *ngIf="isLogin" >
                                <a><i class="fa fa-user"></i>    Welcome Manager RH, {{welcomeResponsableRHname}} {{lastname}}</a>
                             </li>
                            <li><a><i class="fa fa-phone"></i> +33  6 35 39 78 99</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> contact@le-menuisierpro.com</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    
                    <div class="social-icons pull-right">
                        
                        <ul class="nav navbar-nav" >
                            <li><a [routerLink]="['/connexion']">Connexion</a></li>
                            
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
  <!--  <nav class="navbar navbar-light" style="background-color: #9b2b29;">-->
        <!-- Navbar content -->
    
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo pull-right">
                        <a  [routerLink]="['']"><img src="assets/img/logo.PNG" alt=""  width="110px"/></a>
                    </div>
                
                    <div class="btn-group pull-right">
                        
                        
                       
                    </div>
                </div>
                
                <div class="col-sm-7">
                    <div class="shop-menu pull-center">
                        <nav class="navbar navbar-light" style="background-color: #861528;">
                        <ul class="nav navbar-nav">
                           <li> <a [routerLink]="['']"><i class="fa fa-home"></i> Accueil</a></li>
                            
                            <li><a [routerLink]="['/contact-us']"><i class="fa fa-vcard"></i> Contactez-nous</a></li>
                            <li><a [routerLink]="['/services']"><i class="fa fa-wrench" aria-hidden="true"></i> Services</a></li>
                            <li><a [routerLink]="['/gallery']"><i class="fa fa-picture-o" aria-hidden="true"></i> Gallerie</a></li>

                            <li><a [routerLink]="['/pages']"><i class="fa fa-file" aria-hidden="true"></i> Pages</a></li>
                            <li><a [routerLink]="['/blog']"><i class="fa fa-crosshairs"></i> Blog</a></li>
                            <li><a [routerLink]="['/shop']"><i class="fa fa-shopping-bag"></i> Boutique</a></li>
                            
                            
<!--
                            <li><a  [routerLink]="['/login']"><i class="fa fa-lock"></i> Login</a></li>
                            <li  *ngIf="isLogin" (click)="logout()"><a  href="javascript:void(0)"><i class="fa fa-sign-out"></i>Logout</a></li>
                            -->
                        <!--	<li > 
                                      
    
                                    <p class="total_count_checkout">{{cart_qty}}</p>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>      
                                 
                                  
                            </li> -->

                        </ul>
                    </nav>
                    </div>
                </div>
            
            </div>
        </div>
    </div><!--/header-middle-->
  
    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a [routerLink]="['']" class="active">Home</a></li>
                            
                            <li><a [routerLink]="['/page404']">404</a></li>
                            <li><a [routerLink]="['/contact-us']">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3" >
                    <div class="bi bi-search" style="color:rgb(110, 42, 165)">
                       
                        <input type="text" placeholder="recherche"  />
                       
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
  
</header><!--/header-->

