<div class="background"></div>
<body>
    <app-header></app-header>




<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    

                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3" >
                                <img src="assets/img/slide.png" class="girl img-responsive" alt="" />
                            </div>
                            <div class="col-sm-9">
                                <h1 style="color: chocolate;"><span>LE</span>-MENUISIER PRO</h1>
                                <h2 style="color:rgb(238, 196, 10);">L'un de meilleur dans son domaine</h2>
                                <p style="color: rgb(180, 179, 169);">Nous apportons le plus grand soin à la sélection de ses partenaires, garantissant ainsi une qualité optimale de son offre et des services personnalisés.</p>
                                <button type="button" class="btn btn-default get">Get Started</button>
                            </div>
                       
                 <!---   	<div class="col-sm-6">
                                <img src="assets/img/girl1.jpg" width="200px" class="girl img-responsive" alt="" />
                                <img src="assets/img/pricing.png"  class="pricing" alt="" />
                            </div>-->
                            
            </div>
                        <div class="item">
                            <div class="col-sm-3">
                                <img src="assets/img/slide.png" class="girl img-responsive" alt="" />
                            </div>
                            <div class="col-sm-9">
                                <h1 style="color: chocolate;"><span>LE</span>-MENUISIER PRO</h1>
                                <h2 style="color: rgb(238, 196, 10);">Professionnel & Qualité service de menuisier.. </h2>
                                <p style="color: #f9fdf9;">Tirer parti des frameworks agiles pour fournir un synopsis robuste pour des aperçus de haut niveau. Approches itératives </p>
                                <button type="button" class="btn btn-default get">Get Started</button>
                            </div>
                 <!-- 	<div class="col-sm-6">
                                <img src="assets/img/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="assets/img/pricing.png"  class="pricing" alt="" />
                            </div>-->
                      </div>
                        
                        <div class="item">
                            <div class="col-sm-3">
                                <img src="assets/img/slide.png" class="girl img-responsive" alt="" />
                            </div>
                            <div class="col-sm-9">
                                <h1 style="color: chocolate;"><span>LE</span>-MENUISIER PRO</h1>
                                
                                <h2 style="color: rgb(238, 196, 10);">Conception - Création - Innovation</h2>
                                 <p style="color: rgb(250, 248, 248);">Profitez d'un large choix de services qui vous offert notre site web aux meilleurs prix, Contactez-nous. </p>
                               <button type="button" class="btn btn-default get">Get Started</button>
                            </div>
                      <!--  	<div class="col-sm-6">
                                <img src="assets/img/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="assets/img/pricing.png" class="pricing" alt="" />
                            </div>-->
                      </div>
                        
                    </div>
                    
                   <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
                </div>
                
            </div>
        </div>
    </div>
</section> <!--/slider-->

</body>
<footer class="site-footer" >
    <div class="col-sm-12">
        <div class="col-sm-4">
    <img style="margin-left:-30px;" src="assets/img/image1.jpg" >
       </div>
    <div class="col-sm-4">
    <img src="assets/img/image2.jpg">
    </div> 
    <div class="col-sm-4">
        <img src="assets/img/image3.jpg" style="width:440px; height: 533px;">
    </div>
  
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <aside id="text-3" class="widget widget_text">
                    <h3 style="color: rgb(8, 8, 8);" class="widget-title"><span>A propos</span></h3>
                    <div class="textwidget">
                        <p style="color: rgb(228, 140, 9);"><img src="assets/img/logo_white.png" srcset="assets/img/logo_white.png" alt="Le-Menuisier.Pro">
                            <br/> LA RAPIDITE DE PRISE EN COMPTE DE VOS PROJETS </p>
                    </div>
                </aside>
                <br>
                <br>
                
                <div class="social">
                    <div class="social-menu">
                        <ul id="social-menu" class="menu">
                            <p style="color: rgb(8, 8, 8); font-weight: bold;">Suivons-nous sur</p>
                            <li class="menu-item menu-item-97" ><a href="#" target="_blank" style="color: rgb(31, 30, 29);" >facebook</a></li>
                            <li class="menu-item menu-item-171"><a href="#" target="_blank" style="color: rgb(31, 30, 29);">linkedin</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <aside id="better-menu-widget-2" class="widget better-menu-widget">
                    <h3 style="color: rgb(8, 8, 8);" class="widget-title"><span>Informations</span></h3>
                    <div class="menu-information-container">
                        <ul id="menu-information" class="menu">
                           <br>
                            <li class="menu-item menu-item-273"> <a [routerLink]="['']" style="color: rgb(151, 109, 67);">Accueil</a></li>
                            <li class="menu-item menu-item-273"> <a [routerLink]="['/contact-us']" style="color: rgb(151, 109, 67);">Contactez-nous</a></li>
                            <li class="menu-item menu-item-101"><a [routerLink]="['/services']" style="color: rgb(151, 109, 67);">Services</a></li>
                            <li class="menu-item menu-item-101" ><a [routerLink]="['/gallery']" style="color: rgb(151, 109, 67);">Gallerie</a></li>
                            <li class="menu-item menu-item-274"><a [routerLink]="['/pages']"style="color: rgb(151, 109, 67);">Pages</a></li>
                            <li class="menu-item menu-item-274"><a [routerLink]="['/shop']" style="color: rgb(151, 109, 67);">Boutique</a></li>
                            
                            
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col-md-4">
                <aside id="text-4" class="widget widget_text">
                    <h3 style="color: rgb(8, 8, 8);" class="widget-title"><span>Notre adresse</span></h3>
                    <div class="textwidget">
                        <div class="office">
                            <br>
                            <br>
                            <p><i class="fa fa-map-marker"></i>Lieu</p>
                            <p><a href="tel:+33635397899" style="color: coral;"><i class="fa fa-phone" style="color: coral;"></i>+33 6 35 39 78 99</a></p><br>
                            <p><a href="mailto:contact@le-menuisierpro.com" style="color: coral;"><i class="fa fa-envelope"></i>contact@le-menuisierpro.com</a></p>

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</footer>