<div class="card  mb-3" style="max-width: 450px; height:430px; margin-top:60px; margin-left:60px;">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="{{emplService.host+'/imageEmploye/'+employe.id}}" width="120px" height="120px" class="img-fluid rounded-start" >
      </div>
      <div class="col-md-9">
        <div class="card-header" style="background-color: rgb(250, 145, 7);"><h2 class="card-title">Détails d'employé</h2></div>
        <div class="card-body" style="background-color: rgba(228, 226, 217, 0.521);">
           
          
<br>

          <div class="form-group">
            <label style="font-weight: bold;">ID employé :</label>
            <label>{{employe.id}}</label>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;">Nom :</label>
            <label>{{employe.nom}}</label>
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">Prénom :</label>
          <label>{{employe.prenom}}</label>
        </div>
        <div class="form-group">
            <label style="font-weight: bold;">Email :</label>
            <label>{{employe.e_mail}}</label>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;">Téléphone :</label>
            <label>{{employe.tel}}</label>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;">Heure_début :</label>
            <label>{{employe.heure_debut}}</label>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;">Heure fin :</label>
            <label>{{employe.heure_fin}}</label>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;">Salaire par heure :</label>
            <label>{{employe.salaire_par_heure}}</label>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;">Prime :</label>
            <label>{{employe.prime}}</label>
          </div>
          <div class="form-group">
            <label style="font-weight: bold;">Service :</label>
            <label>{{employe.service}}</label>
          </div>

          <div class="form-group">
            <label style="font-weight: bold;">Poste :</label>
            <label>{{employe.poste}}</label>
          </div>




        </div>
      </div>
    </div>
  </div>
