<div class="container">
    <app-navbar title="Gestion employés"></app-navbar>
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-danger">
                        <div class="col-md-5">
                          <h4 class="card-title ">Employés</h4>
                          <p class="card-category"> les employés disponibles</p>
                        </div>
                        <div class="col-md-7">
                          <ul class="nav nav-tabs" data-tabs="tabs">

                       
                            <li class="nav-item">
                             <!--    <button style="margin-left: 10px"  class="btn btn-danger" (click)="AjouteEmploye()">
                                    <span class="glyphicon glyphicon-remove-sign"></span> Ajouter employé</button>-->
                                <a mat-button class="nav-link active" data-toggle="tab" (click)="AjouteEmploye()">
                                    <i class="material-icons">add</i> Ajouter employé
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            
                        
                            <li class="nav-item">
                             <!--   <a mat-button class="nav-link"href="#settings" data-toggle="tab">
                                    <i class="material-icons">cloud</i> Server
                                    <div class="ripple-container"></div>
                                </a>-->
                            <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
                                <div class="form-group">
                                     
                                    <input type="text" name="keyword" ngModel>
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"></span>
                                        Recherche</button>
                                </div>
                            </form>
                            </li>
                        </ul>

</div>


                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-striped"  *ngIf="employes">
                                  <thead class=" text-primary" full  >
                                      
                                      <th>Image</th>
                                      <th>Nom</th>
                                      <th>Prénom</th>
                                      
                                      <th>Email</th>
                                      <th>Télephone</th>
                                      <th>Poste</th>
                                      
                                    

                                     
                                </thead>
                                  <tbody>
                                     <!-- <tr ngFor="let employe of employes">-->
                                       <tr *ngFor="let e of employes._embedded.employes">
                                       
                                        <th><img src="{{emplService.host+'/imageEmploye/'+e.id}}" class="imgg" /></th>
                                        <th>{{e.nom}}</th>
                                        <th>{{e.prenom}}</th>
                                        <th>{{e.e_mail}}</th>
                                        <th>{{e.tel}}</th>
                                        <th>{{e.poste}}</th>
                    
                             <!--      <th><img src="{{emplService.host+'/imageCodeQR/'+e.id}}" width="60px" height="60px"/></th>-->
                                        
                                        <th><button id="btnEdit" style="width: 30px; height: 50px; " (click)="EditEmploye(e)" class="btn btn-sm btn-info"><i class="fa fa-edit" style="font-size: 30px; margin-left: -10px;"></i></button></th>
                                        <th><button id="btnExc"  style="width: 30px; height: 50px; " (click)="DeleteEmploye(e)" class="btn btn-lg btn-danger"><i class="fa fa-remove" style="font-size: 30px;  margin-left: -10px;"></i></button></th>
                                  <!--    <th> <button class="btn btn-warning" (click)="badge(e.id)">-->
                                      <!--  <i class="fas fa-id-card" aria-hidden="true"></i>-->
                                   <!--   <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                        Génerer Badge</button></th>-->  
                                        <!--<i class="fa fa-id-badge" aria-hidden="true"></i>-->
                                        <th> <button class="btn btn-warning" style="width: 80px; height: 50px;" (click)="detail(e.id)">
                                            <!--  <i class="fas fa-id-card" aria-hidden="true"></i>-->
                                            <i class="fa fa-id-card-o" aria-hidden="true" style="margin-left: -15px;"></i>
                                              Détails</button></th>
                                      
                                          </tr>
                                         
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
             
    </div>
    </div>
    </div>
    </div>