<div class="background"></div>
<div class="container">
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
   <div class="row">
     <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
       <div class="card">
         <div class="card-header">
            <h4>Login</h4>
           <div class="social-btns">
             <button mat-icon-button><i class="fa fa-facebook-square"></i></button>
             <button mat-icon-button><i class="fa fa-twitter"></i></button>
             <button mat-icon-button><i class="fa fa-google-plus"></i></button>
           </div>
         </div>
    
         <div class="card-form">
       <!--    <div class="form-row">
             <i class="material-icons">face</i>
             
               <input type="text" matInput placeholder="Nom"/>
             
           </div>
           <div class="form-row">
             <i class="material-icons">email</i>
        
               <input type="text" matInput placeholder="Adresse email"/>
            
           </div>-->
           <div class="form-row">
           <i class="material-icons">
            local_phone
           </i>
      <!--    <input type="text" matInput placeholder="Télephone"/>
           </div>-->
           <input type="text" name="Telephone" placeholder="Télephone" [(ngModel)]="Telephone">

              </div>

           <div class="form-row">
             <i class="material-icons">lock_outline</i>
             
               <!--<input type="password" matInput placeholder="Mot de passe"/>-->
               <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
           </div>
       <!--   <div class="form-row">
            <i class="material-icons">lock_outline</i>
            
              <input type="password" matInput placeholder="Confirmer"/>
           
          </div>-->
         </div>
         <div class="card-footer">
         <!-- <button mat-button (click)="loginBtn()">Connexion</button> -->
           <button style="color: #861528;" mat-button (click)=checkLogin()>
            Connexion
          </button>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>

