<body>
    <app-header></app-header>


    <div class="s1" >
        <h2 style="margin-left: 28px; text-shadow: 2px 2px 8px #ff9100; text-decoration:underline; color: lightcyan;">NOS SERVICES</h2>
    </div>


    <div class="col-sm-12">
    <div class="col-sm-3">
     <div class="card" style="width: 29rem; ">
        <img src="assets/img/serr1.JPG" class="img-thumbnail" alt="" >
        <div class="card-body">
            <div class="vc_custom_heading vc_custom_1440746162167">
                <h3 style=" text-align: center; color: rgb(39, 37, 38);" >POSE PORTE ET FENÊTRE</h3>
            </div>
     <br>
          <p style="text-align: center;">Portes d'entrées, portes de services, volets roulants, volets battants, baies coulissantes, galandages, qu'il s’agisse de PVC ou d'Aluminium, ou en bois, nous sommes spécialisés dans le service de pose dites neuves ou rénovation.</p>


        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 29rem; ">
        <img src="assets/img/serr2.JPG" class="img-thumbnail" alt="">
        <div class="card-body">
            <div class="vc_custom_heading vc_custom_1440746162167">
                <h3 style=" text-align: center; color: rgb(39, 37, 38);" >POSE CUISINE</h3>
            </div>
            <br>
         
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 29rem;">
        <img src="assets/img/serr3.JPG" class="img-thumbnail" alt="">
        <div class="card-body">
            <div class="vc_custom_heading vc_custom_1440746162167">
                <h3 style=" text-align: center; color: rgb(39, 37, 38);" >AMENAGEMENT PLACARD</h3>
            </div>
            <br>
          
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 29rem; ">
        <img src="assets/img/serr4.JPG" class="img-thumbnail" alt="">
        <div class="card-body">
            <div class="vc_custom_heading vc_custom_1440746162167">
                <h3 style=" text-align: center; color: rgb(39, 37, 38);" >NOUS ASSURONS TOUT CE QUI EST POSE DES VOLETS QU'ILS SOIENT TRADITIONNELS OU MODERNE</h3>
            </div>
            <br>
          <p style="text-align: center;" class="card-text">Pose des volets motorisés électriques télécommandés et remplacement ou motorisation des volets roulants manuels en électrique avec télécommande à distance sans fil.</p>
        </div>
      </div>
      </div>
     
</div>
  

<div class="vc_row-full-width"></div>
    <div data-vc-full-width="true" data-vc-full-width-init="false"
        class="vc_row wpb_row vc_row-fluid style1 tm-our-works vc_custom_1440405335248">
             <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="wpb_wrapper">
                    <div class="vc_custom_heading style1 vc_custom_1438164850920">
                     <h2 style="margin-left: 28px; text-shadow: 2px 2px 8px #ff9100; text-decoration:underline; color: lightcyan;" id="h2_0d67_0">NOS TRAVAILS</h2></div>
                             <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="esg-filter-wrapper   tm-skin esg-fgc-3">
                                         <div style="margin-left: 28px;" class="esg-filterbutton selected esg-allfilter"
         data-filter="filterall" data-fid="-1"><span>Tous</span>
                         </div>
     <div class="esg-filterbutton" data-fid="13"
            data-filter="filter-art"><span>Portes et fenêtres</span><span
                         class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span>
                             </div>
                         <div class="esg-filterbutton" data-fid="16"
                             data-filter="filter-funiture"><span>cuisine et placard</span><span
                                class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span>
                    </div>
                                                        <div class="esg-filterbutton" data-fid="15"
                                                             data-filter="filter-interior"><span>volet</span><span
                                                                class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span>
                                                        </div>
                                                        <div class="esg-filterbutton" data-fid="17"
                                                             data-filter="filter-work"><span>rénovation</span><span
                                                                class="esg-filter-checked"><i class="eg-icon-ok-1"></i></span>
                                                        </div>

                                                        <div class="eg-clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
            </div>


                    <div class="vc_row-full-width"></div>
                                <div data-vc-full-width="true" data-vc-full-width-init="false"
                                     data-vc-stretch-content="true"
                                     class="vc_row wpb_row vc_row-fluid style1 vc_custom_1438921094634 vc_row-no-padding">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="wpb_wrapper">


                                            <article class="myportfolio-container tm-skin" id="esg-grid-3-1-wrap">

                                                <div id="esg-grid-3-1" class="esg-grid">


                                                    <ul>

                                                        <li class="filterall filter-art eg-tm-projects-01-wrapper eg-post-id-143"
                                                            data-date="1438920685">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img class="s1"
                                                                        src="assets/img/serv5.png" 
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-143 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-143"
                                                                            href="#" target="_self">PORTE DE COMMUNICATION EN DOUBLE VENTAUX  BOIS</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-143 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-143 esgbox"
                                                                            href="assets/img/serv5.png"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-art eg-tm-projects-01-wrapper eg-post-id-143"
                                                            data-date="1438920685">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img class="s2"
                                                                        src="assets/img/porte2.png"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-143 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-143"
                                                                            href="#" target="_self">PORTE DE COMMUNICATION EN CHENE</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-143 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-143 esgbox"
                                                                            href="assets/img/porte2.png"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-art eg-tm-projects-01-wrapper eg-post-id-143"
                                                            data-date="1438920685">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/porte3.png"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-143 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-143"
                                                                            href="#" target="_self">BAIE VITREE COULISSANTE EN ALU</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-143 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-143 esgbox"
                                                                            href="assets/img/porte3.png"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filterall filter-art eg-tm-projects-01-wrapper eg-post-id-143"
                                                            data-date="1438920685">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/fenetre4.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-143 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-143"
                                                                            href="#" target="_self">FENETRE EN BOIS AVEC FIXE</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-143 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-143 esgbox"
                                                                            href="assets/img/fenetre4.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-art eg-tm-projects-01-wrapper eg-post-id-143"
                                                            data-date="1438920685">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/fenetre5.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-143 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-143"
                                                                            href="#" target="_self">FENETRE EN ALU COULISSANTE</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-143 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-143 esgbox"
                                                                            href="assets/img/fenetre5.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-art eg-tm-projects-01-wrapper eg-post-id-143"
                                                            data-date="1438920685">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/fenetre3.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-143 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-143"
                                                                            href="#" target="_self">fenetre3</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-143 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-143 esgbox"
                                                                            href="assets/img/fenetre3.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>


                                                        <li class="filterall filter-funiture  eg-tm-projects-01-wrapper eg-post-id-148"
                                                            data-date="1438920718">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/cuisine5.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-148 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-148"
                                                                            href="#" target="_self">POSE DES ELEMENTS DE CUISINE </a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-148 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-148 esgbox"
                                                                            href="assets/img/cuisine5.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-funiture  eg-tm-projects-01-wrapper eg-post-id-148"
                                                            data-date="1438920718">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/placard1.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-148 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-148"
                                                                            href="#" target="_self">AMENAGEMENT D'UNE CHAMBRE A COUCHER </a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-148 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-148 esgbox"
                                                                            href="assets/img/placard1.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-funiture  eg-tm-projects-01-wrapper eg-post-id-148"
                                                            data-date="1438920718">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/placard2.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-148 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-148"
                                                                            href="#" target="_self">AMENAGEMENT DE PLACARD AVEC PORTES COULISSANTES EN ACCORDEON</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-148 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-148 esgbox"
                                                                            href="assets/img/placard2.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-funiture  eg-tm-projects-01-wrapper eg-post-id-148"
                                                            data-date="1438920718">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/cuisine3.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-148 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-148"
                                                                            href="#" target="_self">POSE D'UNE  CUISINE</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-148 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-148 esgbox"
                                                                            href="assets/img/cuisine3.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-funiture  eg-tm-projects-01-wrapper eg-post-id-148"
                                                            data-date="1438920718">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/placard7.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-148 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-148"
                                                                            href="#" target="_self">AMENAGEMENT DE DRESSING </a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-148 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-148 esgbox"
                                                                            href="assets/img/placard7.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filterall filter-interior eg-tm-projects-01-wrapper eg-post-id-414"
                                                            data-date="1439878657">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/volet.png"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-414 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-414"
                                                                            href="#" target="_self">POSE D'UN VOLET ROULANT ELECTRIQUE</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-414 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-414 esgbox"
                                                                            href="assets/img/volet.png"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-interior eg-tm-projects-01-wrapper eg-post-id-414"
                                                            data-date="1439878657">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/volet2.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-414 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-414"
                                                                            href="#" target="_self">VOLET 2</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-414 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-414 esgbox"
                                                                            href="assets/img/volet2.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-interior eg-tm-projects-01-wrapper eg-post-id-414"
                                                            data-date="1439878657">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/volet1.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-414 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-414"
                                                                            href="#" target="_self">VOLET 1</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-414 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-414 esgbox"
                                                                            href="assets/img/volet1.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-interior eg-tm-projects-01-wrapper eg-post-id-414"
                                                            data-date="1439878657">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/volet3.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-414 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-414"
                                                                            href="#" target="_self">POSE DES VOLETS ROULANTS ELECTRIQUES A TELECOMMANDE SANS FIL</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-414 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-414 esgbox"
                                                                            href="assets/img/volet3.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                        <li class="filter-interior eg-tm-projects-01-wrapper eg-post-id-414"
                                                            data-date="1439878657">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/volet4.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-414 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-414"
                                                                            href="#" target="_self">VOLET 4</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-414 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-414 esgbox"
                                                                            href="assets/img/volet4.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>


                                                        <li class="filterall filter-work eg-tm-projects-01-wrapper eg-post-id-150"
                                                            data-date="1438920764">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/renovation2.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-150 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-150"
                                                                            href="#" target="_self">EN PLEINE RENOVATION</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-150 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-150 esgbox"
                                                                            href="assets/img/renovation2.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                       
                                                        <li class="filter-work eg-tm-projects-01-wrapper eg-post-id-150"
                                                            data-date="1438920764">

                                                            <div class="esg-media-cover-wrapper">

                                                                <div class="esg-entry-media esg-shifttotop"
                                                                     data-delay="0.17"><img
                                                                        src="assets/img/renovation14.jpg"
                                                                        alt=""></div>

                                                                <div class="esg-entry-cover">

                                                                    <div class="esg-overlay esg-fade eg-tm-projects-01-container"
                                                                         data-delay="0"></div>
                                                                    <div class="esg-bottom eg-post-150 eg-tm-projects-01-element-3-a esg-slideshortup"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-3 eg-post-150"
                                                                            href="#" target="_self">ELEMENT DE DECORATION</a>
                                                                    </div>
                                                                    <div class="esg-center eg-post-150 eg-tm-projects-01-element-0-a esg-falldown"
                                                                         data-delay="0.1"><a
                                                                            class="eg-tm-projects-01-element-0 eg-post-150 esgbox"
                                                                            href="assets/img/renovation5.jpg"><i
                                                                            class="eg-icon-eye"></i></a></div>
                                                                </div>

                                                            </div>

                                                        </li>



                                                    </ul>


                                                </div>

                                            </article>

                                            <div class="clear"></div>
                                        </div>
                                    </div>
                    </div>
          <!--               <div class="vc_row-full-width"></div>
                         <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-parallax="1.5"
                                     data-vc-parallax-image="assets/img/back.jfif"
                                     class="vc_row wpb_row vc_row-fluid vc_custom_1438161637566 vc_general vc_parallax vc_parallax-content-moving pb50">
                                    <div class="wpb_column vc_column_container vc_col-sm-7 vc_hidden-xs">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_bottom-to-top">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                        <img src="assets/img/logo3d.png"
                                                            class="vc_single_image-img attachment-full" alt="img03"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-5">
                                        <div class="wpb_wrapper">
                                            <div class="vc_custom_heading style2 vc_custom_1438164710227">
                                                <h2 id="h2_0d67_1">POURQUOI NOUS CHOISIR?</h2></div>
                                            <div class="vc_tta-container" data-vc-action="collapse">
                                                <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-white vc_tta-style-classic vc_tta-shape-rounded vc_tta-o-shape-group vc_tta-controls-align-left">
                                                    <div class="vc_tta-panels-container">
                                                        <div class="vc_tta-panels">
                                                            <div class="vc_tta-panel vc_active" id="accordion1">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left">
                                                                        <a href="#accordion1" data-vc-accordion
                                                                           data-vc-container=".vc_tta-container"><span
                                                                                class="vc_tta-title-text">Notre Vision</span><i
                                                                                class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a>
                                                                    </h4></div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element  grey">
                                                                        <div class="wpb_wrapper">
                                                                            <ul>
                                           <li>Toujours dans le professionnalisme</li>
                                             <li>vous satisfaire dans vos besoins</li>
                                             </ul>

                                        </div>
                                     </div>
                                     </div>
                                     </div>
                            <div class="vc_tta-panel" id="accordion2">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left">
                                             <a href="#accordion2" data-vc-accordion
                                             data-vc-container=".vc_tta-container"><span
                                                      class="vc_tta-title-text">Notre Mission</span><i
                                                         class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a>
                                                     </h4></div>
                                                 <div class="vc_tta-panel-body">
                                              <div class="wpb_text_column wpb_content_element  grey">
                                            <div class="wpb_wrapper">
                                        <p>Assurer le respect des normes en vigueur en vous conseillant les meilleurs produits auprès de nos fournisseurs de la commande jusqu’ à la finition de vos projets.</p>

                                    </div>
                                 </div>
                                 </div>
                              </div>

                            </div>
                         </div>
                      </div>
                 </div>
            </div>
        </div>


</div>
--> 



<footer class="site-footer" >
    <div class="col-sm-12">
    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <aside id="text-3" class="widget widget_text">
                <h3 style="color: rgb(8, 8, 8);" class="widget-title"><span>A propos</span></h3>
                <div class="textwidget">
                    <p style="color: rgb(228, 140, 9);"><img src="assets/img/logo_white.png" srcset="assets/img/logo_white.png" alt="Le-Menuisier.Pro">
                        <br/> LA RAPIDITE DE PRISE EN COMPTE DE VOS PROJETS </p>
                </div>
            </aside>
            <div class="social">
                <div class="social-menu">
                    <ul id="social-menu" class="menu">
                        <li class="menu-item menu-item-97"><a href="#" target="_blank">facebook</a></li>
                        <li class="menu-item menu-item-171"><a href="#" target="_blank">linkedin</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <aside id="better-menu-widget-2" class="widget better-menu-widget">
                <h3 style="color: rgb(8, 8, 8);" class="widget-title"><span>Informations</span></h3>
                <div class="menu-information-container">
                    <ul id="menu-information" class="menu">
                        <br>
                            <li class="menu-item menu-item-273"> <a [routerLink]="['']" style="color: rgb(151, 109, 67);">Accueil</a></li>
                            <li class="menu-item menu-item-273"> <a [routerLink]="['/contact-us']" style="color: rgb(151, 109, 67);">Contactez-nous</a></li>
                            <li class="menu-item menu-item-101"><a [routerLink]="['/services']" style="color: rgb(151, 109, 67);">Services</a></li>
                            <li class="menu-item menu-item-101"><a [routerLink]="['/gallery']" style="color: rgb(151, 109, 67);">Gallerie</a></li>
                            <li class="menu-item menu-item-274"><a [routerLink]="['/pages']" style="color: rgb(151, 109, 67);">Pages</a></li>
                            <li class="menu-item menu-item-274"><a [routerLink]="['/shop']" style="color: rgb(151, 109, 67);">Boutique</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col-md-4">
                <aside id="text-4" class="widget widget_text">
                    <h3 style="color: rgb(8, 8, 8);" class="widget-title"><span>Notre adresse</span></h3>
                    <div class="textwidget">
                        <div class="office">
                            <p><i class="fa fa-map-marker"></i>Lieu</p>
                            <p><a href="tel:+33635397899" style="color: coral;"><i class="fa fa-phone" style="color: coral;"></i>+33 6 35 39 78 99</a></p>
                            <p><a href="mailto:contact@le-menuisierpro.com" style="color: coral;"><i class="fa fa-envelope"></i>contact@le-menuisierpro.com</a></p>

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</footer>

</body>