<div class="container">
  <app-navbar title="Rapport de pointage"></app-navbar>
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
<label class="control-label" >Mois :</label>
   <form #f="ngForm" (ngSubmit)="findMois(f.value)">
              
                  <input type="month" name="keyword" ngModel>
                  <button type="submit" class="btn btn-primary">
                      <span class="glyphicon glyphicon-search" ></span>
                      </button>
              
          </form>

       <!--  <div class="form-group">
              <label class="control-label"  >Mois :</label>--> 
       <!--     #f="ngForm" (ngSubmit)="onChercher(f.value)"-->  
            <!--  <input class="form-control" type="month"  name="mois" ngModel>
            </div>-->




          </div>
          <div class="col-md-3">

       <!--    <label class="control-label" >Employé :</label>
            <br>
            <select>
              
            
              <option >Sélectionner un employé </option>
         <option *ngFor="let e of employes._embedded.employes" [value]="e.id">{{e.id}}</option>
        </select>
         <button class="btn btn-primary" (click)="findEmpl(id)">
          <span class="glyphicon glyphicon-search" ></span>
             </button>  --> 
      
   <!--<tr *ngFor="let p of pointages._embedded.pointages">-->

    
         <label class="control-label">Employé :</label>
        <form>  
       <!--    <p  *ngFor="let p of pointages._embedded.pointages">-->
              <input  type="number"  ngModel>
              <button class="btn btn-primary" (click)="findEmpl(123)">
               <span class="glyphicon glyphicon-search" ></span>
                  </button>
         
      </form>


</div>
          </div>
          <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                      <div class="col-md-8">
                        <h4 class="card-title ">Rapport de pointage</h4>
                        <p class="card-category">Par mois</p>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped" *ngIf="pointages">
                              <thead class=" text-primary" full>
                              <!--    <th>ID</th>-->
                          
                                  <th>Date</th>
                                  <th>Entrée</th>
                                  <th>Sortie</th>
                                  <th>Retard</th>
                                  <th>Absence</th>
          
                           
                            </thead>
                              <tbody>
                                
                             <tr *ngFor="let p of pointages">
                               
                                  <th>{{p.date}}</th>
                                <th>{{p.entree}}</th>
                                  <th>{{p.sortie}}</th>
                                  
                                  <th>{{p.retard}}</th>
                              
                                  <th>{{p.absence}}</th>
                                 
                            <!--      <th> <button style="margin-left: 10px"  class="btn btn-success" (click)="Afficher()">
                                    Afficher</button></th>
                                    <th> <button style="margin-left: 10px"  class="btn btn-success" (click)="Imprimer()">
                                   Imprimer</button></th>-->
                             </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
</div>
</div>
</div>
</div>