<div class="container">
    <app-navbar title="Dashboard"></app-navbar>
    <div class="row" style="margin-top: 30px">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="+5"
          headerIcon="weekend"
          category="Services"
          footContent="Obtenez plus..."
          footerIcon="warning"
          linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
          boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
        </app-figurecard>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="5.521"
          headerIcon="equalizer"
          category="Vues"
          footContent="Google Analytics"
          footerIcon="local_offer"
          linearColor="linear-gradient(60deg, #ef5350, #e53935)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
        </app-figurecard>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="$3,245"
          headerIcon="store"
          category="Revenu"
          footContent="Dernières 24 heures"
          footerIcon="date_range"
          linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
        </app-figurecard>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <app-figurecard
          title="+245"
          headerIcon="mic"
          category="suiveurs"
          footContent="Juste mis à jour"
          footerIcon="update"
          linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
          boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
        </app-figurecard>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <app-imagecard
          image="../../../assets/img/imag8.jpg"
          title="Atelier bien equipé"
          desc="Atelier de qualité contient tous les matériels nécessaire et permer de gérer tous les services demandés par les clients..."
          
          position="Atelier, FR">
        </app-imagecard>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <app-imagecard
          image="../../../assets/img/dash8.jpg"
          title="Nos services"
          desc="Service de qualité et engagement, garanties décennales ,rapidité de déplacement pour l’estimation de vos travaux..."
          position="Atelier, FR">
        </app-imagecard>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <app-imagecard
          image="../../../assets/img/dash6.jpg"
          title="Nos aspects"
          desc="Toujours dans le souci de satisfaire nos clients. Nous nous engageons dans les meilleurs délais vos attentes..."
          position="Atelier, FR">
        </app-imagecard>
      </div>
    </div>
  
  
  </div>
