
<body>
	<div class="container text-center">
		<div class="logo-404">
			<a [routerLink]="['']"><img src="assets/img/logo3.png" alt="" /></a>
		</div>
		<div class="content-404">
			<img src="assets/img/404/404.png" class="img-responsive" alt="" />
			<h1><b>OPPS!</b> Nous n'avons pas pu trouver cette page</h1>
			<p>Uh... Donc on dirait que tu as fait quelque chose. La page que vous recherchez est en place et a disparu.</p>
			<h2><a [routerLink]="['']">Ramène-moi à la page d'accueil !</a></h2>
		</div>
	</div>

 
</body>

